/*
! Ignore Modern CSS Reset Style for Normalize file
? @forward "reset";
*/

/* CSS Debug Style */
* {
  box-sizing: border-box;

  /* 
    * There is 2 way 
    ? background: red !important;
    ? outline: 1px solid red !important;
  */
}

/* Lenis(Smooth Scrool Plugin) Default Styles */
html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  height: auto;
}

/* Reset Document Scrollbar style */
body {
  overflow: hidden;
}
